{
  "openapi": "3.0.1",
  "info": {
    "contact": {
      "email": "arul@luracast.com",
      "name": "Restler Support",
      "url": "luracast.com/products/restler"
    },
    "description": "Live API Documentation",
    "license": {
      "name": "LGPL-2.1",
      "url": "https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html"
    },
    "title": "Restler API Explorer",
    "version": "1"
  },
  "servers": [
    {
      "url": "//dolibarr.codimeo.com/api/index.php"
    }
  ],
  "paths": {
    "/accountancy/exportdata": {
      "get": {
        "operationId": "accountancyExportData",
        "parameters": [
          {
            "description": "Period : 'lastmonth', 'currentmonth', 'last3months', 'last6months', 'currentyear', 'lastyear', 'fiscalyear', 'lastfiscalyear', 'actualandlastfiscalyear' or 'custom' (see above)",
            "in": "query",
            "name": "period",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "[=''] Start date of period if 'custom' is set in period parameter Date format is 'YYYY-MM-DD'",
            "in": "query",
            "name": "date_min",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "[=''] End date of period if 'custom' is set in period parameter Date format is 'YYYY-MM-DD'",
            "in": "query",
            "name": "date_max",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "[=''] by default uses '1' for 'Configurable (CSV)' for format number or '1000' for FEC or '1010' for FEC2 (see AccountancyExport class)",
            "in": "query",
            "name": "format",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "[=0] by default don't export or 1 to export lettering data (columns 'letterring_code' and 'date_lettering' returns empty or not)",
            "in": "query",
            "name": "lettering",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "[=0] by default export data only if it's not yet exported or 1 already exported (always export data even if 'date_export\" is set)",
            "in": "query",
            "name": "alreadyexport",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "[=0] by default notified as exported or 1 not notified as exported (when the export is done, notified or not the column 'date_export')",
            "in": "query",
            "name": "notnotifiedasexport",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "content": {},
            "description": "Insufficient rights"
          },
          "404": {
            "content": {},
            "description": "Accountancy export format not found"
          },
          "500": {
            "content": {},
            "description": "Error on accountancy export"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Accountancy export data 🔐",
        "tags": [
          "accountancy"
        ]
      }
    },
    "/agendaevents/{id}": {
      "delete": {
        "operationId": "removeAgendaevents",
        "parameters": [
          {
            "description": "ID of Agenda Event to delete",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {},
            "description": "RestException"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Delete an agenda event 🔐",
        "tags": [
          "agendaevents"
        ]
      },
      "get": {
        "description": "Return an array with agenda event information",
        "operationId": "retrieveAgendaevents",
        "parameters": [
          {
            "description": "ID of Agenda Event to get",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Any"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Any"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {},
            "description": "RestException"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get agenda event 🔐",
        "tags": [
          "agendaevents"
        ]
      },
      "put": {
        "operationId": "updateAgendaevents",
        "parameters": [
          {
            "description": "ID of Agenda Event to update",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateAgendaeventsModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/updateAgendaeventsModel"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/updateAgendaeventsModel"
              }
            }
          },
          "description": "request_data  \n",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {},
            "description": "RestException"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Update an agenda event 🔐",
        "tags": [
          "agendaevents"
        ],
        "x-codegen-request-body-name": "updateAgendaeventsModel"
      }
    },
    "/agendaevents": {
      "get": {
        "description": "Get a list of agenda events",
        "operationId": "listAgendaevents",
        "parameters": [
          {
            "description": "Sort field",
            "in": "query",
            "name": "sortfield",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sort order",
            "in": "query",
            "name": "sortorder",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit for list",
            "in": "query",
            "name": "limit",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Page number",
            "in": "query",
            "name": "page",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "User ids filter field (owners of event). Example: '1' or '1,2,3'",
            "in": "query",
            "name": "user_ids",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Other criteria to filter answers separated by a comma. Syntax example \"(t.label:like:'%dol%') and (t.datec:<:'20160101')\"",
            "in": "query",
            "name": "sqlfilters",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Restrict the data returned to these properties. Ignored if empty. Comma separated list of properties names",
            "in": "query",
            "name": "properties",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If this parameter is set to true the response will include pagination data. Default value is false. Page starts from 0*",
            "in": "query",
            "name": "pagination_data",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {},
            "description": "RestException"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "List agenda events 🔐",
        "tags": [
          "agendaevents"
        ]
      },
      "post": {
        "operationId": "createAgendaevents",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createAgendaeventsModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/createAgendaeventsModel"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/createAgendaeventsModel"
              }
            }
          },
          "description": "request_data  \n",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "int64",
                  "type": "integer"
                }
              },
              "application/xml": {
                "schema": {
                  "format": "int64",
                  "type": "integer"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {},
            "description": "RestException"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Create an agenda event 🔐",
        "tags": [
          "agendaevents"
        ],
        "x-codegen-request-body-name": "createAgendaeventsModel"
      }
    },
    "/bankaccounts": {
      "get": {
        "operationId": "listBankaccounts",
        "parameters": [
          {
            "description": "Sort field",
            "in": "query",
            "name": "sortfield",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sort order",
            "in": "query",
            "name": "sortorder",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit for list",
            "in": "query",
            "name": "limit",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Page number",
            "in": "query",
            "name": "page",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Use this param to filter list by category",
            "in": "query",
            "name": "category",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Other criteria to filter answers separated by a comma. Syntax example \"(t.ref:like:'SO-%') and (t.import_key:<:'20160101')\"",
            "in": "query",
            "name": "sqlfilters",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Restrict the data returned to these properties. Ignored if empty. Comma separated list of properties names",
            "in": "query",
            "name": "properties",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {},
            "description": "RestException"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get the list of accounts. 🔐",
        "tags": [
          "bankaccounts"
        ]
      },
      "post": {
        "operationId": "createBankaccounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createBankaccountsModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/createBankaccountsModel"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/createBankaccountsModel"
              }
            }
          },
          "description": "request_data  \n",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "int64",
                  "type": "integer"
                }
              },
              "application/xml": {
                "schema": {
                  "format": "int64",
                  "type": "integer"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Create account object 🔐",
        "tags": [
          "bankaccounts"
        ],
        "x-codegen-request-body-name": "createBankaccountsModel"
      }
    },
    "/bankaccounts/{id}": {
      "delete": {
        "operationId": "removeBankaccounts",
        "parameters": [
          {
            "description": "ID of account",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Delete account 🔐",
        "tags": [
          "bankaccounts"
        ]
      },
      "get": {
        "operationId": "retrieveBankaccounts",
        "parameters": [
          {
            "description": "ID of account",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Any"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Any"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {},
            "description": "RestException"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get account by ID. 🔐",
        "tags": [
          "bankaccounts"
        ]
      },
      "put": {
        "operationId": "updateBankaccounts",
        "parameters": [
          {
            "description": "ID of account",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateBankaccountsModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/updateBankaccountsModel"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/updateBankaccountsModel"
              }
            }
          },
          "description": "request_data  \n",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Any"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Any"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Update account 🔐",
        "tags": [
          "bankaccounts"
        ],
        "x-codegen-request-body-name": "updateBankaccountsModel"
      }
    },
    "/bankaccounts/transfer": {
      "post": {
        "operationId": "bankaccountsTransfer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bankaccountsTransferModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/bankaccountsTransferModel"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/bankaccountsTransferModel"
              }
            }
          },
          "description": "bankaccount_from_id  \nbankaccount_to_id  \ndate  \ndescription  \namount  \namount_to  \ncheque_number  \n",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "content": {},
            "description": "Unauthorized: User does not have permission to configure bank accounts"
          },
          "404": {
            "content": {},
            "description": "Not Found: Either the source or the destination bankaccount for the provided id does not exist"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error: Error(s) returned by the RDBMS"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Create an internal wire transfer between two bank accounts 🔐",
        "tags": [
          "bankaccounts"
        ],
        "x-codegen-request-body-name": "bankaccountsTransferModel"
      }
    },
    "/bankaccounts/{id}/lines": {
      "get": {
        "operationId": "bankaccountsRetrieveLines",
        "parameters": [
          {
            "description": "ID of account",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Other criteria to filter answers separated by a comma. Syntax example \"(t.ref:like:'SO-%') and (t.import_key:<:'20160101')\"",
            "in": "query",
            "name": "sqlfilters",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {},
            "description": "RestException"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get the list of lines of the account. 🔐",
        "tags": [
          "bankaccounts"
        ]
      },
      "post": {
        "operationId": "bankaccountsAddLine",
        "parameters": [
          {
            "description": "ID of account",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bankaccountsAddLineModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/bankaccountsAddLineModel"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/bankaccountsAddLineModel"
              }
            }
          },
          "description": "**date** (required)  \n**type** (required)  \n**label** (required)  \n**amount** (required)  \ncategory  \ncheque_number  \ncheque_writer  \ncheque_bank  \naccountancycode  \ndatev  \nnum_releve  \n",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "int64",
                  "type": "integer"
                }
              },
              "application/xml": {
                "schema": {
                  "format": "int64",
                  "type": "integer"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Add a line to an account 🔐",
        "tags": [
          "bankaccounts"
        ],
        "x-codegen-request-body-name": "bankaccountsAddLineModel"
      }
    },
    "/bankaccounts/{id}/lines/{line_id}/links": {
      "get": {
        "operationId": "bankaccountsRetrieveLinks",
        "parameters": [
          {
            "description": "ID of account",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "ID of account line",
            "in": "path",
            "name": "line_id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {},
            "description": "RestException"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get the list of links for a line of the account. 🔐",
        "tags": [
          "bankaccounts"
        ]
      },
      "post": {
        "operationId": "bankaccountsAddLink",
        "parameters": [
          {
            "description": "ID of account",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "ID of account line",
            "in": "path",
            "name": "line_id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bankaccountsAddLinkModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/bankaccountsAddLinkModel"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/bankaccountsAddLinkModel"
              }
            }
          },
          "description": "**url_id** (required)  \n**url** (required)  \n**label** (required)  \n**type** (required)  \n",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "int64",
                  "type": "integer"
                }
              },
              "application/xml": {
                "schema": {
                  "format": "int64",
                  "type": "integer"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Add a link to an account line 🔐",
        "tags": [
          "bankaccounts"
        ],
        "x-codegen-request-body-name": "bankaccountsAddLinkModel"
      }
    },
    "/bankaccounts/{id}/lines/{line_id}": {
      "delete": {
        "operationId": "bankaccountsRemoveLine",
        "parameters": [
          {
            "description": "ID of account",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "ID of account line",
            "in": "path",
            "name": "line_id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Delete an account line 🔐",
        "tags": [
          "bankaccounts"
        ]
      },
      "put": {
        "operationId": "bankaccountsUpdateLine",
        "parameters": [
          {
            "description": "ID of account",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "ID of account line",
            "in": "path",
            "name": "line_id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bankaccountsUpdateLineModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/bankaccountsUpdateLineModel"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/bankaccountsUpdateLineModel"
              }
            }
          },
          "description": "**label** (required)  \n",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "int64",
                  "type": "integer"
                }
              },
              "application/xml": {
                "schema": {
                  "format": "int64",
                  "type": "integer"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Update an account line 🔐",
        "tags": [
          "bankaccounts"
        ],
        "x-codegen-request-body-name": "bankaccountsUpdateLineModel"
      }
    },
    "/bankaccounts/{id}/balance": {
      "get": {
        "operationId": "bankaccountsRetrieveBalance",
        "parameters": [
          {
            "description": "ID of account",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "double",
                  "type": "number"
                }
              },
              "application/xml": {
                "schema": {
                  "format": "double",
                  "type": "number"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {},
            "description": "RestException"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get current account balance by ID 🔐",
        "tags": [
          "bankaccounts"
        ]
      }
    },
    "/categories/{id}": {
      "delete": {
        "operationId": "removeCategories",
        "parameters": [
          {
            "description": "Category ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Delete category 🔐",
        "tags": [
          "categories"
        ]
      },
      "get": {
        "description": "Return an array with category information",
        "operationId": "retrieveCategories",
        "parameters": [
          {
            "description": "ID of category",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Include child categories list (true or false)",
            "in": "query",
            "name": "include_childs",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {},
            "description": "RestException"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get properties of a category object 🔐",
        "tags": [
          "categories"
        ]
      },
      "put": {
        "operationId": "updateCategories",
        "parameters": [
          {
            "description": "Id of category to update",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateCategoriesModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/updateCategoriesModel"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/updateCategoriesModel"
              }
            }
          },
          "description": "request_data  \n",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Any"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Any"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Update category 🔐",
        "tags": [
          "categories"
        ],
        "x-codegen-request-body-name": "updateCategoriesModel"
      }
    },
    "/categories": {
      "get": {
        "description": "Get a list of categories according to filters",
        "operationId": "listCategories",
        "parameters": [
          {
            "description": "Sort field",
            "in": "query",
            "name": "sortfield",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sort order",
            "in": "query",
            "name": "sortorder",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit for list",
            "in": "query",
            "name": "limit",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Page number",
            "in": "query",
            "name": "page",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Type of category ('member', 'customer', 'supplier', 'product', 'contact', 'actioncomm')",
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Other criteria to filter answers separated by a comma. Syntax example \"(t.ref:like:'SO-%') and (t.date_creation:<:'20160101')\"",
            "in": "query",
            "name": "sqlfilters",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Restrict the data returned to these properties. Ignored if empty. Comma separated list of properties names",
            "in": "query",
            "name": "properties",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {},
            "description": "RestException"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "List categories 🔐",
        "tags": [
          "categories"
        ]
      },
      "post": {
        "operationId": "createCategories",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createCategoriesModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/createCategoriesModel"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/createCategoriesModel"
              }
            }
          },
          "description": "request_data  \n",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "int64",
                  "type": "integer"
                }
              },
              "application/xml": {
                "schema": {
                  "format": "int64",
                  "type": "integer"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Create category object 🔐",
        "tags": [
          "categories"
        ],
        "x-codegen-request-body-name": "createCategoriesModel"
      }
    },
    "/categories/object/{type}/{id}": {
      "get": {
        "description": "Get the list of categories linked to an object",
        "operationId": "categoriesRetrieveListForObject",
        "parameters": [
          {
            "description": "Object ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Type of category ('member', 'customer', 'supplier', 'product', 'contact', 'project', 'actioncomm')",
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sort field",
            "in": "query",
            "name": "sortfield",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sort order",
            "in": "query",
            "name": "sortorder",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit for list",
            "in": "query",
            "name": "limit",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Page number",
            "in": "query",
            "name": "page",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {},
            "description": "RestException"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "List categories of an object 🔐",
        "tags": [
          "categories"
        ]
      }
    },
    "/categories/{id}/objects/{type}/{object_id}": {
      "delete": {
        "operationId": "categoriesUnlinkObjectById",
        "parameters": [
          {
            "description": "ID of category",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Type of category ('member', 'customer', 'supplier', 'product', 'contact', 'actioncomm')",
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of the object",
            "in": "path",
            "name": "object_id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {},
            "description": "RestException"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Unlink an object from a category by id 🔐",
        "tags": [
          "categories"
        ]
      },
      "post": {
        "operationId": "categoriesLinkObjectById",
        "parameters": [
          {
            "description": "ID of category",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Type of category ('member', 'customer', 'supplier', 'product', 'contact', 'actioncomm')",
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of object",
            "in": "path",
            "name": "object_id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {},
            "description": "RestException"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Link an object to a category by id 🔐",
        "tags": [
          "categories"
        ]
      }
    },
    "/categories/{id}/objects/{type}/ref/{object_ref}": {
      "delete": {
        "operationId": "categoriesUnlinkObjectByRef",
        "parameters": [
          {
            "description": "ID of category",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Type of category ('member', 'customer', 'supplier', 'product', 'contact', 'actioncomm')",
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Reference of the object (product, thirdparty, member, ...)",
            "in": "path",
            "name": "object_ref",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {},
            "description": "RestException"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Unlink an object from a category by ref 🔐",
        "tags": [
          "categories"
        ]
      },
      "post": {
        "operationId": "categoriesLinkObjectByRef",
        "parameters": [
          {
            "description": "ID of category",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Type of category ('member', 'customer', 'supplier', 'product', 'contact')",
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Reference of object (product, thirdparty, member, ...)",
            "in": "path",
            "name": "object_ref",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {},
            "description": "RestException"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Link an object to a category by ref 🔐",
        "tags": [
          "categories"
        ]
      }
    },
    "/categories/{id}/objects": {
      "get": {
        "operationId": "categoriesRetrieveObjects",
        "parameters": [
          {
            "description": "ID of category",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Type of category ('member', 'customer', 'supplier', 'product', 'contact', 'project')",
            "in": "query",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Return only ids of objects (consume less memory)",
            "in": "query",
            "name": "onlyids",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get the list of objects in a category. 🔐",
        "tags": [
          "categories"
        ]
      }
    },
    "/contacts/{id}": {
      "delete": {
        "operationId": "removeContacts",
        "parameters": [
          {
            "description": "Contact ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Delete a contact 🔐",
        "tags": [
          "contacts"
        ]
      },
      "get": {
        "description": "Return an array with contact information",
        "operationId": "retrieveContacts",
        "parameters": [
          {
            "description": "ID of contact",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Include count of elements the contact is used as a link for",
            "in": "query",
            "name": "includecount",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Includes roles of the contact",
            "in": "query",
            "name": "includeroles",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {},
            "description": "RestException"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get a contact 🔐",
        "tags": [
          "contacts"
        ]
      },
      "put": {
        "operationId": "updateContacts",
        "parameters": [
          {
            "description": "ID of contact to update",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateContactsModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/updateContactsModel"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/updateContactsModel"
              }
            }
          },
          "description": "request_data  \n",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "404": {
            "content": {},
            "description": "Not Found"
          },
          "500": {
            "content": {},
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Update a contact 🔐",
        "tags": [
          "contacts"
        ],
        "x-codegen-request-body-name": "updateContactsModel"
      }
    },
    "/contacts/email/{email}": {
      "get": {
        "operationId": "contactsRetrieveByEmail",
        "parameters": [
          {
            "description": "Email of contact",
            "in": "path",
            "name": "email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Include count of elements the contact is used as a link for",
            "in": "query",
            "name": "includecount",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Includes roles of the contact",
            "in": "query",
            "name": "includeroles",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "content": {},
            "description": "Insufficient rights"
          },
          "404": {
            "content": {},
            "description": "User or group not found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get a contact by Email 🔐",
        "tags": [
          "contacts"
        ]
      }
    },
    "/contacts": {
      "get": {
        "description": "Get a list of contacts",
        "operationId": "listContacts",
        "parameters": [
          {
            "description": "Sort field",
            "in": "query",
            "name": "sortfield",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sort order",
            "in": "query",
            "name": "sortorder",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit for list",
            "in": "query",
            "name": "limit",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Page number",
            "in": "query",
            "name": "page",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Third party ids to filter contacts of (example '1' or '1,2,3')",
            "in": "query",
            "name": "thirdparty_ids",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Use this param to filter list by category",
            "in": "query",
            "name": "category",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Other criteria to filter answers separated by a comma. Syntax example \"(t.ref:like:'SO-%') and (t.date_creation:<:'20160101')\"",
            "in": "query",
            "name": "sqlfilters",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Include count of elements the contact is used as a link for",
            "in": "query",
            "name": "includecount",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Includes roles of the contact",
            "in": "query",
            "name": "includeroles",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Restrict the data returned to these properties. Ignored if empty. Comma separated list of properties names",
            "in": "query",
            "name": "properties",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If this parameter is set to true, the response will include pagination data. Default value is false. Page starts from 0*",
            "in": "query",
            "name": "pagination_data",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {},
            "description": "RestException"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "List contacts 🔐",
        "tags": [
          "contacts"
        ]
      },
      "post": {
        "operationId": "createContacts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createContactsModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/createContactsModel"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/createContactsModel"
              }
            }
          },
          "description": "request_data  \n",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "int64",
                  "type": "integer"
                }
              },
              "application/xml": {
                "schema": {
                  "format": "int64",
                  "type": "integer"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Create a contact 🔐",
        "tags": [
          "contacts"
        ],
        "x-codegen-request-body-name": "createContactsModel"
      }
    },
    "/contacts/{id}/createUser": {
      "post": {
        "operationId": "contactsCreateUser",
        "parameters": [
          {
            "description": "ID of contact",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/contactsCreateUserModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/contactsCreateUserModel"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/contactsCreateUserModel"
              }
            }
          },
          "description": "request_data  \n",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "int64",
                  "type": "integer"
                }
              },
              "application/xml": {
                "schema": {
                  "format": "int64",
                  "type": "integer"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Create a user account object from contact (external user) 🔐",
        "tags": [
          "contacts"
        ],
        "x-codegen-request-body-name": "contactsCreateUserModel"
      }
    },
    "/contacts/{id}/categories": {
      "get": {
        "operationId": "contactsRetrieveCategories",
        "parameters": [
          {
            "description": "ID of contact",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Sort field",
            "in": "query",
            "name": "sortfield",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sort order",
            "in": "query",
            "name": "sortorder",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit for list",
            "in": "query",
            "name": "limit",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Page number",
            "in": "query",
            "name": "page",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get categories of a contact 🔐",
        "tags": [
          "contacts"
        ]
      }
    },
    "/contacts/{id}/categories/{category_id}": {
      "delete": {
        "operationId": "contactsRemoveCategory",
        "parameters": [
          {
            "description": "ID of contact",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "ID of category",
            "in": "path",
            "name": "category_id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "content": {},
            "description": "Insufficient rights"
          },
          "404": {
            "content": {},
            "description": "Category or contact not found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Remove the link between a category and a contact 🔐",
        "tags": [
          "contacts"
        ]
      },
      "put": {
        "operationId": "contactsAddCategory",
        "parameters": [
          {
            "description": "ID of contact",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "ID of category",
            "in": "path",
            "name": "category_id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "content": {},
            "description": "Insufficient rights"
          },
          "404": {
            "content": {},
            "description": "Category or contact not found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Add a category to a contact 🔐",
        "tags": [
          "contacts"
        ]
      }
    },
    "/contracts/{id}": {
      "delete": {
        "operationId": "removeContracts",
        "parameters": [
          {
            "description": "Contract ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Delete contract 🔐",
        "tags": [
          "contracts"
        ]
      },
      "get": {
        "description": "Return an array with contract information",
        "operationId": "retrieveContracts",
        "parameters": [
          {
            "description": "ID of contract",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Any"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Any"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {},
            "description": "RestException"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get properties of a contract object 🔐",
        "tags": [
          "contracts"
        ]
      },
      "put": {
        "operationId": "updateContracts",
        "parameters": [
          {
            "description": "Id of contract to update",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateContractsModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/updateContractsModel"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/updateContractsModel"
              }
            }
          },
          "description": "request_data  \n",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Any"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Any"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Update contract general fields (won't touch lines of contract) 🔐",
        "tags": [
          "contracts"
        ],
        "x-codegen-request-body-name": "updateContractsModel"
      }
    },
    "/contracts": {
      "get": {
        "description": "Get a list of contracts",
        "operationId": "listContracts",
        "parameters": [
          {
            "description": "Sort field",
            "in": "query",
            "name": "sortfield",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sort order",
            "in": "query",
            "name": "sortorder",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit for list",
            "in": "query",
            "name": "limit",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Page number",
            "in": "query",
            "name": "page",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Thirdparty ids to filter contracts of (example '1' or '1,2,3')",
            "in": "query",
            "name": "thirdparty_ids",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Other criteria to filter answers separated by a comma. Syntax example \"(t.ref:like:'SO-%') and (t.date_creation:<:'20160101')\"",
            "in": "query",
            "name": "sqlfilters",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Restrict the data returned to these properties. Ignored if empty. Comma separated list of properties names",
            "in": "query",
            "name": "properties",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If this parameter is set to true the response will include pagination data. Default value is false. Page starts from 0*",
            "in": "query",
            "name": "pagination_data",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          },
          "404": {
            "content": {},
            "description": "Not found"
          },
          "503": {
            "content": {},
            "description": "Error"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "List contracts 🔐",
        "tags": [
          "contracts"
        ]
      },
      "post": {
        "operationId": "createContracts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createContractsModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/createContractsModel"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/createContractsModel"
              }
            }
          },
          "description": "request_data  \n",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "int64",
                  "type": "integer"
                }
              },
              "application/xml": {
                "schema": {
                  "format": "int64",
                  "type": "integer"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Create contract object 🔐",
        "tags": [
          "contracts"
        ],
        "x-codegen-request-body-name": "createContractsModel"
      }
    },
    "/contracts/{id}/lines": {
      "get": {
        "operationId": "contractsRetrieveLines",
        "parameters": [
          {
            "description": "Id of contract",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Sort field",
            "in": "query",
            "name": "sortfield",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sort order",
            "in": "query",
            "name": "sortorder",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit for list",
            "in": "query",
            "name": "limit",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Page number",
            "in": "query",
            "name": "page",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Other criteria to filter answers separated by a comma. Syntax example \"(t.ref:like:'SO-%') and (t.date_creation:<:'20160101')\"",
            "in": "query",
            "name": "sqlfilters",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Restrict the data returned to these properties. Ignored if empty. Comma separated list of properties names",
            "in": "query",
            "name": "properties",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If this parameter is set to true the response will include pagination data. Default value is false. Page starts from 0*",
            "in": "query",
            "name": "pagination_data",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          },
          "404": {
            "content": {},
            "description": "Not Found"
          },
          "503": {
            "content": {},
            "description": "Error"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get lines of a contract 🔐",
        "tags": [
          "contracts"
        ]
      },
      "post": {
        "operationId": "contractsCreateLine",
        "parameters": [
          {
            "description": "Id of contrat to update",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/contractsCreateLineModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/contractsCreateLineModel"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/contractsCreateLineModel"
              }
            }
          },
          "description": "request_data  \n",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Add a line to given contract 🔐",
        "tags": [
          "contracts"
        ],
        "x-codegen-request-body-name": "contractsCreateLineModel"
      }
    },
    "/contracts/{id}/lines/{lineid}": {
      "delete": {
        "operationId": "contractsRemoveLine",
        "parameters": [
          {
            "description": "Id of contract to update",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Id of line to delete",
            "in": "path",
            "name": "lineid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "content": {},
            "description": "Unauthorized"
          },
          "404": {
            "content": {},
            "description": "Not Found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Delete a line to given contract 🔐",
        "tags": [
          "contracts"
        ]
      },
      "put": {
        "operationId": "contractsUpdateLine",
        "parameters": [
          {
            "description": "Id of contrat to update",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Id of line to update",
            "in": "path",
            "name": "lineid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/contractsUpdateLineModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/contractsUpdateLineModel"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/contractsUpdateLineModel"
              }
            }
          },
          "description": "request_data  \n",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Update a line to given contract 🔐",
        "tags": [
          "contracts"
        ],
        "x-codegen-request-body-name": "contractsUpdateLineModel"
      }
    },
    "/contracts/{id}/lines/{lineid}/activate": {
      "put": {
        "operationId": "contractsActivateLine",
        "parameters": [
          {
            "description": "Id of contract to activate",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Id of line to activate",
            "in": "path",
            "name": "lineid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/contractsActivateLineModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/contractsActivateLineModel"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/contractsActivateLineModel"
              }
            }
          },
          "description": "**datestart** (required)  \ndateend  \ncomment  \n",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Activate a service line of a given contract 🔐",
        "tags": [
          "contracts"
        ],
        "x-codegen-request-body-name": "contractsActivateLineModel"
      }
    },
    "/contracts/{id}/lines/{lineid}/unactivate": {
      "put": {
        "operationId": "contractsUnactivateLine",
        "parameters": [
          {
            "description": "Id of contract to activate",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Id of line to activate",
            "in": "path",
            "name": "lineid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/contractsUnactivateLineModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/contractsUnactivateLineModel"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/contractsUnactivateLineModel"
              }
            }
          },
          "description": "**datestart** (required)  \ncomment  \n",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Unactivate a service line of a given contract 🔐",
        "tags": [
          "contracts"
        ],
        "x-codegen-request-body-name": "contractsUnactivateLineModel"
      }
    },
    "/contracts/{id}/validate": {
      "post": {
        "operationId": "contractsValidate",
        "parameters": [
          {
            "description": "Contract ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/contractsValidateModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/contractsValidateModel"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/contractsValidateModel"
              }
            }
          },
          "description": "notrigger  \n",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Validate a contract 🔐",
        "tags": [
          "contracts"
        ],
        "x-codegen-request-body-name": "contractsValidateModel"
      }
    },
    "/contracts/{id}/close": {
      "post": {
        "operationId": "contractsClose",
        "parameters": [
          {
            "description": "Contract ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/contractsCloseModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/contractsCloseModel"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/contractsCloseModel"
              }
            }
          },
          "description": "notrigger  \n",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Close all services of a contract 🔐",
        "tags": [
          "contracts"
        ],
        "x-codegen-request-body-name": "contractsCloseModel"
      }
    },
    "/documents/download": {
      "get": {
        "description": "Note that, this API is similar to using the wrapper link \"documents.php\" to download a file (used for internal HTML links of documents into application), but with no need to have a session cookie (the token is used instead).",
        "operationId": "listDocuments",
        "parameters": [
          {
            "description": "Name of module or area concerned by file download ('facture', ...)",
            "in": "query",
            "name": "modulepart",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Relative path with filename, relative to modulepart (for example: IN201701-999/IN201701-999.pdf)",
            "in": "query",
            "name": "original_file",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {},
            "description": "Bad value for parameter modulepart or original_file"
          },
          "403": {
            "content": {},
            "description": "Access denied"
          },
          "404": {
            "content": {},
            "description": "File not found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Download a document 🔐",
        "tags": [
          "documents"
        ]
      }
    },
    "/documents/builddoc": {
      "put": {
        "description": "Test sample 1: { \"modulepart\": \"invoice\", \"original_file\": \"FA1701-001/FA1701-001.pdf\", \"doctemplate\": \"crabe\", \"langcode\": \"fr_FR\" }. Supported modules: invoice, order, proposal, contract, supplier invoice, shipment, mrp",
        "operationId": "documentsBuilddoc",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/documentsBuilddocModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/documentsBuilddocModel"
              }
            },
            "multipart/form-data": {
              "schema": {
[...]
